<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Account Question</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
</head>
<body>
  <div class="card">
    <h1>HealthOptima</h1>
    <h2>Do you already have an account?</h2>

    <p class="label">Yes</p>
    <a href="login"><button class="action-button">Log In</button></a>

    <p class="label">No</p>
    <a href="signup"><button class="action-button">Sign Up</button></a>
  </div>
</body>
</html>
